header {
    background-color: #353535;
    min-height: 4em;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4em;
}

header div {
    display: flex;
    align-items: center;
}

header div img {
    width: 5em;
    
}

header div p {
    margin-left: 1  em;
    color: #fff;
}

nav a{
    text-decoration: none;
    margin-right: 1em;
    color: #fff;
}

footer {
    margin-top: 2em;
    background-color: #333333;
    min-height: 10em;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a img {
    width: 4em;
    margin-left: 1em;
} 

footer div p {
    color: #b6b6b6;
    margin: 0em 2em ;
} 

@media (max-width: 500px) {
    header {
        flex-direction: column;
    }
}

@media (max-width: 815px){
    footer {
        flex-direction: column;
    }
}